/* -------------------------------------------------------------------------- */
/*                                  Variables                                 */
/* -------------------------------------------------------------------------- */
$clr-red: #e06c75;

$bgc-main: #ffffff;
$bgc-sub: #dfdfdf;
$bgc-accent: #f1f1f1;

$clr-main: #464646;
$clr-sub: #adadad;
$clr-accent: #f1f1f1;
$clr-accent: #f9f9f9;
$clr-code-bg: #ffffff;
$clr-config-bg: #ffffff;
$bdc: #d1d1d1;

$ff-sans: 'Noto Sans JP', sans-serif;
$ff-mono: 'Source Code Pro', 'M PLUS 1 Code', monospace;
$transition: all 0.3s;

/* -------------------------------------------------------------------------- */
/*                                    Base                                    */
/* -------------------------------------------------------------------------- */

body {
  font-family: $ff-sans;
  color: $clr-main;
  background-color: $bgc-main;
  font-size: clamp(12px, 1.5vw, 14px);
}

#root {
  display: flex;
  flex-direction: column;
}

.pc-none {
  display: none !important;
  visibility: hidden !important;
}

.cmn-py {
  padding-block: 20px;

  &--output {
    padding-block: 20px clamp(0px, 1vw, 10px);
  }
}

.cmn-mb {
  margin-bottom: 10px;
}

a {
  color: inherit;
  transition: $transition;
  text-decoration: none;
}

.input-text {
  label {
    color: $clr-sub;
    display: block;
    margin-bottom: 5px;
  }

  input {
    border: none;
    // outline: 1px solid $clr-sub;
    outline: none;
    border: 1px solid $bdc;
    background-color: $bgc-main;
    padding-inline: 5px;
    width: 100%;

    &::placeholder {
      color: $clr-sub;
    }
  }

  &--full {
    width: 100%;
    input {
      width: 100%;
    }
  }

  &--option {
    margin-top: 5px;
  }
}

.button-icon {
  all: unset;
  transition: $transition;
  // color: $clr-sub;

  &:hover {
    color: $clr-main;
    cursor: pointer;
  }

  &--delete:hover {
    color: $clr-red;
  }

  &--small {
    font-size: 16px;
  }

  &:disabled {
    &:hover {
      cursor: default;
    }
  }
}

.side-note {
  color: $clr-sub;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid $bdc;

  &--btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
  }
}

.cmn-button {
  width: 100%;
  transition: $transition;
  background-color: #f0f0f0;
  border-radius: 3px;
  // border: 1px solid $bdc;
  padding-block: 3px;
  border: none;
  font-family: $ff-sans;

  &:hover {
    cursor: pointer;
    background-color: #dfdfdf;
  }

  &:not(:last-child) {
    margin-bottom: 7px;
  }

  &:disabled {
    background-color: #f0f0f0;

    &:hover {
      cursor: auto;
    }
  }

  &--dark {
    background-color: #e2e2e2;
  }
}

/* -------------------------------------------------------------------------- */
/*                                    Main                                    */
/* -------------------------------------------------------------------------- */
.main {
  width: min(100%, 1080px);
  margin-inline: auto;
  padding-inline: 15px;
  background-color: $bgc-main;
  display: flex;
  flex-flow: row nowrap;

  & > * {
    padding-block: 73px 45px;
    overflow: auto;
  }

  &__main-l {
    height: 100dvh;
    position: sticky;
    inset: 0 auto 0 0;
    border-right: 1px solid $bdc;
    padding-inline: 3px clamp(15px, 2.5vw, 30px);
    display: flex;
    flex-flow: column nowrap;
    transition: $transition;
    width: 23%;
  }

  &__main-r {
    // width: min(100%, 755px);
    width: min(100%, 810px);
    padding-left: clamp(15px, 2.5vw, 30px);
  }
}

/* -------------------------------------------------------------------------- */
/*                                   Header                                   */
/* -------------------------------------------------------------------------- */
.header {
  background-color: $bgc-main;
  position: fixed;
  inset: 0 0 auto 0;
  padding-block: 15px;
  border-bottom: 1px solid $bdc;
  z-index: 100;
  font-size: 14px;
  z-index: 100;

  &__wrapper {
    padding-inline: calc(50% - 540px);
    margin-inline: 15px;
  }

  &__logo {
    width: fit-content;
    display: block;
  }

  &__title {
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

/* -------------------------------------------------------------------------- */
/*                                   Display                                  */
/* -------------------------------------------------------------------------- */
.display {
  &__list {
    padding: 0;
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    padding: 2px 0 2px 5px;
    position: relative;
    background-color: $bgc-accent;
    transition: $transition;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &:hover {
      background-color: $bgc-sub;
    }

    &-none {
      display: none !important;
    }
  }

  &__name,
  &__slug {
    white-space: nowrap;
  }

  &__slug {
    margin-right: 5px;
  }

  &__name {
    overflow-x: hidden;
    color: $clr-sub;
  }

  &__icon-drag {
    margin-right: 10px;
  }

  &__btn-trash {
    padding-inline: 5px;
    margin-inline: auto 0;
  }
}

/* -------------------------------------------------------------------------- */
/*                                   Option                                   */
/* -------------------------------------------------------------------------- */
.option {
  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;

    input[type='checkbox'] {
      margin-right: 10px;

      &:hover,
      &:focus {
        cursor: pointer;
      }
    }
  }

  &__reset-btn {
    all: unset;

    small {
      transition: $transition;
      text-transform: uppercase;

      &:hover {
        cursor: pointer;
        color: $clr-red;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                    Input                                   */
/* -------------------------------------------------------------------------- */
.input {
  &__form {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    gap: 10px;

    button {
      width: 100%;
      margin-top: 10px;
      padding-inline: 20px;
    }

    label {
      display: none;
    }

    input {
      width: 100%;
    }
  }

  &__button {
    cursor: pointer;

    &:disabled {
      cursor: default;
    }
  }

  &__icon {
    cursor: pointer;

    &:disabled {
      cursor: default;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                   Output                                   */
/* -------------------------------------------------------------------------- */
.output {
  &__wrapper {
    input[type='checkbox'] {
      display: none;

      &:checked ~ .output__config {
        height: auto;
        overflow: visible;
      }
    }
  }

  &__form {
    padding: 10px;
    border: 1px solid $bdc;
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-flow: row nowrap;
    gap: 10px;
  }

  &__config {
    background-color: $clr-config-bg;
    overflow-y: hidden;
    height: 0;
  }

  &__header {
    text-transform: capitalize;
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    border: 1px solid $bdc;
    border-bottom: none;

    & > * {
      transition: $transition;
      padding: 5px 10px;

      &:hover,
      &:focus {
        cursor: pointer;

        .output__icon {
          color: $clr-main;
        }
      }
    }
  }

  &__label {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
  }

  &__code {
    border: 1px solid $bdc;

    pre {
      margin: 0;
    }

    code {
      font-family: $ff-mono;

      * {
        font-weight: 400 !important;
        min-width: 2.25em !important;
      }
    }
  }

  &__empty {
    padding-block: 15px;
  }

  &__icon {
    transition: $transition;
    color: $clr-sub;
  }
}

/* -------------------------------------------------------------------------- */
/*                                   Setting                                  */
/* -------------------------------------------------------------------------- */
.setting {
  margin-top: auto;

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    gap: 12px;
  }
}

/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */
.footer {
  background-color: $bgc-main;
  position: fixed;
  inset: auto 0 0 0;
  padding-block: 4px;
  text-align: center;
  border-top: 1px solid $bdc;
  z-index: 100;

  small {
    margin-inline: 15px;
    white-space: nowrap;
  }
}

/* -------------------------------------------------------------------------- */
/*                                   Others                                   */
/* -------------------------------------------------------------------------- */
.generate-button {
  all: unset;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  color: $clr-sub;
  transition: $transition;
  font-family: $ff-mono;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  gap: 7px;

  &:hover,
  &:focus {
    cursor: pointer;
    color: $clr-main;
  }
}

.hidden {
  display: none;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-inline: auto;

  h2 {
    margin-bottom: 5px;
  }
}

/* ---------------------------------- Icons --------------------------------- */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}
