html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #3a3a3a;
}

#root {
  display: flex;
  flex-direction: column;
}

.cmn-py {
  padding-block: 20px;
}

.cmn-mb {
  margin-bottom: 10px;
}

.cmn-hover:hover {
  opacity: 0.8;
}

a {
  transition: all 0.3s;
}

/* ---------------------------------- Main ---------------------------------- */
.main {
  flex: 1 0 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row nowrap;
}
.main > * {
  padding-block: 109px 62px;
}
.main__main-l {
  width: min(100%, 240px);
  padding-right: 30px;
  border-right: 1px solid #d2d2d2;
  position: sticky;
  height: 100dvh;
  inset: 0 auto 0 0;
}
.main__main-r {
  width: min(100%, 840px);
  padding-left: 30px;
}

/* --------------------------------- Header --------------------------------- */
.header {
  position: fixed;
  inset: 0 0 auto 0;
  background-color: #f2f2f2;
  padding: 20px;
  border-bottom: 1px solid #d2d2d2;
  z-index: 100;
}
.header__wrapper {
  width: min(100%, 1080px);
  margin-inline: auto;
  display: flex;
}
.header__logo {
  text-decoration: none;
  color: #3a3a3a;
}

/* ---------------------------------- Input --------------------------------- */
.input__form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-flow: row nowrap;
  gap: 10px;
}
.input__form--side {
  flex-direction: column;
}
.input__form--side label {
  display: none;
}
.input__form--side button {
  width: 100%;
  margin-top: 10px;
  padding-inline: 20px;
}
.input__form input {
  width: 100%;
  padding-inline: 5px;
  border: 1px solid #d2d2d2;
  color: #878787;
}
.input__form input:focus {
  color: #3a3a3a;
}
.input__form--setting {
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #d2d2d2;
  border-bottom: none;
}
.input__button {
  white-space: nowrap;
  margin-inline: auto;
  cursor: pointer;
}
.input__button:disabled {
  cursor: default;
}
.input__icon {
  all: unset;
  color: #3a3a3a;
  cursor: pointer;
}
.input__icon:disabled {
  color: #878787;
  cursor: default;
}

/* --------------------------------- Display -------------------------------- */
.display__note {
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #d2d2d2;
  font-size: 12px;
  color: rgba(58, 58, 58, 0.5);
}
.display__list {
  padding: 0;
}
.display__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row nowrap;
  padding: 3px 10px;
  background-color: #f2f2f2;
  transition: all 0.1s;
  font-size: 12px;
}
.display__item:not(:last-child) {
  margin-bottom: 3px;
}
.display__item:hover {
  background-color: rgba(58, 58, 58, 0.2);
}
.display__fade {
  color: rgba(58, 58, 58, 0.4);
  white-space: nowrap;
  margin-inline: 5px 16px;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
.display__icon-drag {
  margin-right: 15px;
}
.display__icon-trash {
  margin-inline: auto 0;
  font-size: 16px;
  z-index: 10000;
}
.display__icon-trash:hover {
  cursor: pointer;
  color: #ff4343;
}

/* --------------------------------- Option --------------------------------- */
.option__item input[type=checkbox] {
  margin-right: 10px;
}
.option__item input[type=checkbox]:hover, .option__item input[type=checkbox]:focus {
  cursor: pointer;
}
.option__note {
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #d2d2d2;
  font-size: 12px;
  color: rgba(58, 58, 58, 0.5);
}

/* --------------------------------- Output --------------------------------- */
.output__wrapper input[type=checkbox] {
  display: none;
}
.output__wrapper input[type=checkbox]:checked ~ .output__setting {
  height: auto;
  overflow: visible;
}
.output__setting {
  overflow-y: hidden;
  height: 0;
  transition: height 0.3s ease;
}
.output__header {
  border: 1px solid #d2d2d2;
  border-bottom: none;
  text-transform: capitalize;
}
.output__title {
  font-size: clamp(16px, 2.5vw, 17px);
  font-weight: 400;
}
.output__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  padding: 5px 10px;
  background-color: rgba(58, 58, 58, 0.2);
  transition: background-color 0.3s;
  position: relative;
}
.output__label:hover, .output__label:focus {
  cursor: pointer;
  background-color: rgba(58, 58, 58, 0.25);
}
.output__label:hover .output__icon, .output__label:focus .output__icon {
  color: #3a3a3a;
}
.output__icon {
  font-size: 18px;
  color: #878787;
  transition: color 0.3s;
}
.output__list {
  padding: 5px;
  border: 1px solid #d2d2d2;
  overflow-x: auto;
}
.output__item {
  white-space: nowrap;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
}

.footer {
  position: fixed;
  background-color: #f2f2f2;
  inset: auto 0 0 0;
  padding: 10px;
  text-align: center;
  border-top: 1px solid #d2d2d2;
  font-size: clamp(12px, 2.5vw, 14px);
  z-index: 100;
}

/* ---------------------------------- Icons --------------------------------- */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
}