$clr: #3a3a3a;
$clr2: #878787;
$bdc: #d2d2d2;
$bgc: #f2f2f2;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  color: $clr;
}

#root {
  display: flex;
  flex-direction: column;
}

.cmn-py {
  padding-block: 20px;
}

.cmn-mb {
  margin-bottom: 10px;
}

.cmn-hover:hover {
  opacity: 0.8;
}

a {
  transition: all 0.3s;
}

// [class$="__wrapper"] {
//   width: min(100%, 800px);
//   margin-inline: auto;
// }

/* ---------------------------------- Main ---------------------------------- */
.main {
  flex: 1 0 100vh;
  // margin-top: 100px;
  // margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row nowrap;

  & > * {
    padding-block: calc(89px + 20px) calc(42px + 20px);
  }

  &__main-l {
    width: min(100%, 240px);
    padding-right: 30px;
    border-right: 1px solid $bdc;
    position: sticky;
    height: 100dvh;
    inset: 0 auto 0 0;
    // padding-right: 20px;
  }

  &__main-r {
    width: min(100%, 840px);
    padding-left: 30px;
  }
}

/* --------------------------------- Header --------------------------------- */
.header {
  position: fixed;
  inset: 0 0 auto 0;
  background-color: $bgc;
  padding: 20px;
  border-bottom: 1px solid $bdc;
  z-index: 100;

  &__wrapper {
    width: min(100%, 1080px);
    margin-inline: auto;
    display: flex;
  }

  &__logo {
    text-decoration: none;
    color: $clr;
  }
}

/* ---------------------------------- Input --------------------------------- */
.input {
  &__form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-flow: row nowrap;
    gap: 10px;

    &--side {
      flex-direction: column;

      label {
        // display: block;
        // padding-inline: 5px;
        // margin-bottom: 5px;
        display: none;
      }

      button {
        width: 100%;
        margin-top: 10px;
        padding-inline: 20px;
      }
    }

    input {
      width: 100%;
      padding-inline: 5px;
      border: 1px solid $bdc;
      color: $clr2;

      &:focus {
        color: $clr;
      }
    }

    &--setting {
      padding: 10px;
      background-color: $bgc;
      border: 1px solid $bdc;
      border-bottom: none;
    }
  }

  &__button {
    white-space: nowrap;
    margin-inline: auto;
    cursor: pointer;

    &:disabled {
      cursor: default;
    }
  }

  &__icon {
    all: unset;
    color: $clr;
    cursor: pointer;

    &:disabled {
      color: $clr2;
      cursor: default;
    }
  }
}

/* --------------------------------- Display -------------------------------- */
.display {
  &__list {
    padding: 0;
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    gap: 15px;
    padding: 3px 10px;
    font-size: clamp(13px, 2.5vw, 14px);
    background-color: $bgc;
    transition: all .1s;
    font-size: clamp(12px, 2.5vw, 14px);

    &:not(:last-child) {
      margin-bottom: 3px;
    }

    &:hover {
      background-color: transparentize($clr, 0.8);
    }
  }

  &__fade {
    font-size: 12px;
    color: transparentize($clr, 0.6);
    overflow-x: hidden;
    white-space: nowrap;
  }
}

/* --------------------------------- Option --------------------------------- */
.option {
  &__item {
    input[type='checkbox'] {
      margin-right: 10px;

      &:hover,
      &:focus {
        cursor: pointer;
      }
    }
  }
}

/* --------------------------------- Output --------------------------------- */
.output {
  &__wrapper {
    input[type='checkbox'] {
      display: none;

      &:checked ~ .output__setting {
        height: auto;
        overflow: visible;
      }
    }
  }

  &__setting {
    overflow-y: hidden;
    height: 0;
    transition: height 0.3s ease;
  }

  &__header {
    // margin-bottom: 8px;
    border: 1px solid $bdc;
    border-bottom: none;
    text-transform: capitalize;
  }

  &__title {
    font-size: clamp(16px, 2.5vw, 17px);
    font-weight: 400;
  }

  &__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    padding: 5px 10px;
    background-color: transparentize($clr, 0.8);
    transition: background-color 0.3s;
    position: relative;

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: transparentize($clr, 0.75);

      .output__icon {
        color: $clr;
      }
    }
  }

  &__icon {
    font-size: 18px;
    color: $clr2;
    transition: color 0.3s;
  }

  &__list {
    padding: 5px;
    border: 1px solid $bdc;
    overflow-x: scroll;
  }

  &__item {
    white-space: nowrap;
    font-family: 'Roboto Mono', monospace;
  }
}

.footer {
  position: fixed;
  background-color: $bgc;
  inset: auto 0 0 0;
  padding: 10px;
  text-align: center;
  border-top: 1px solid $bdc;
  font-size: clamp(12px, 2.5vw, 14px);
  z-index: 100;
}

/* ---------------------------------- Icons --------------------------------- */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}
